<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tech Abuse Tarea</title>
    <link rel="stylesheet" href="/stylesheets/project.css">
  </head>
  <body>
    <!-- Primer div -->
    <div>
      <form id="selectors">
        <label for="radio1">div 2</label>
        <input id="radio1" type="radio" name="divSwitcher" value="2">
        <label for="radio2">div 3</label>
        <input id="radio2" type="radio" name="divSwitcher" value="3">
        <input type="submit" name="" value="Enviame!">

        <!-- Agregar JQuery con el CDN  -->
        <script
    			  src="https://code.jquery.com/jquery-3.3.1.min.js"
    			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    			  crossorigin="anonymous">
        </script>
      </form>

      <!-- Segundo div -->
      <div class="hidden">
        <form>
          <input type="text" name="textDiv2" value="" placeholder="Texto">
          <input type="email" name="emailDiv2" value="" placeholder="email">
          <textarea name="textareaDiv2" rows="8" cols="80" placeholder="textarea"></textarea>
          <input type="submit" name="" value="Enviame!">
        </form>
      </div>

      <!-- Tercer div  -->
      <div class="hidden">
        <form method="post" action="/post">
          <input type="text" name="tex1Div3" value="" placeholder="texto">
          <input type="text" name="tex2Div3" value="" placeholder="texto">
          <input type="text" name="tex3Div3" value="" placeholder="texto">
          <input type="text" name="tex4Div3" value="" placeholder="texto">
          <input type="submit" name="" value="Enviame!">
        </form>
      </div>

      <!-- Esta temperatura se cambio con un llamado HTTP al API del clima  -->
      <p>Temperatura: <strong><span id="temperatura"></span></strong>°C</p>

      <script type="text/javascript" src="/scripts/mainScript.js">
      </script>
    </div>
  </body>
</html>
